.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.scale-carousel {
  -webkit-animation-name: scaleUps;
  animation-name: scaleUps;
}

@-webkit-keyframes scaleUps {
  from {}

  /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
  to {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}

@-webkit-keyframes scaleUp {
  from {}

  /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes scaleUp {
  from {}

  /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

.fadeOutC {
  -webkit-animation-name: fadeOutC;
  animation-name: fadeOutC;
}