.sct-banner{
    position: relative;
    overflow: hidden;
    height: 63vh;
    @media (min-width: 1200px) and (max-width:1400px){
        height: 480px;
    }
    .container-fluid{
        padding: 0;
        height: 100%;
        .content-img{
            width: 100%;
            height: 100%;
            margin-bottom: -5px;
            .img-banner{
                width: 100%;
            }
        }
        
    }
    
}
.content-title-banner{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    padding-bottom: 3em;
    .h1-banner{
        font-size: 3.5em;
        text-transform: uppercase;
        color: $color-white;
        font-family: $font-titles-big;
    }
    .h1-banner.two{
        margin-left: 4.3em;
    }
}
/*BACKGROUND BANNER*/
#main-us{
    .sct-banner{
        .content-img{
            background-image: url('../../assets/images/Nosotros.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}
.main-bussines-line{
    .sct-banner{
        .content-img{
            background-image: url('../../assets/images/mineria.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}
.proyects{
    .sct-banner{
        .content-img{
            background-image: url('../../assets/images/proyectos-.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}
#main-news{
    .sct-banner{
        .content-img{
            background-image: url('../../assets/images/Novedades.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}
.work-with-us{
    .sct-banner{
        .content-img{
            background-image: url('../../assets/images/trabaja-con-nostros1.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}
#contact-us{
    .sct-banner{
        .content-img{
            background-image: url('../../assets/images/contactanos.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}
#channel-of-concerns{
    .sct-banner{
        .content-img{
            background-image: url('../../assets/images/canal-de-inquietudes.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}
.main-rse {
    .sct-banner {
        .content-img {
            /*&.rse1 {
                background-image: url('../../assets/images/rse1.jpg');
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 100%;
            }
            &.rse2 {
                background-image: url('../../assets/images/rse2.jpg');
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 100%;
            }*/
            &.rse3 {
                background-image: url('../../assets/images/rse3.jpg');
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
    }
}