.wrapper-card-proyect{
    padding: 0 1.2em;
    margin-bottom: 2em;
}
.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background-color: #FFFFFF;
    //min-width: 270px;
    height: 470px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    @media (min-width:1400px) and (max-width:1800px) {
        height: 400px;
    }
    @media (max-width:767px) {
        height: 375px;
    }

    .thumbnail {
        background-color: $color-principal2;
        height: 14em;
        overflow: hidden;

        .date {
            position: absolute;
            top: 0;
            right: 15px;
            z-index: 1;
            background-color: $color-principal1;
            width: 4em;
            height: 4em;
            color: #FFFFFF;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            font-family: $font-internas;
            font-size: .8em;
        }

        .img-thumbnail {
            display: block;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -webkit-transition: all 0.3s linear 0s;
            -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
        }
    }
    .post-content {
        position: absolute;
        bottom: 0;
        background-color: #FFFFFF;
        width: 100%;
        padding: 30px;
        -webkti-box-sizing: border-box;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;

        .title {
            margin: 0;
            padding: 0 0 10px;
            font-size: 1.2em;
        }

        .description {
            margin: 0;
            padding: 0 0 20px;
            color: $color-principal1;
            font-weight: 400;
            font-size: .9em;
            .p-internas {
                padding-left: .5em;
            }
        }
        .vacio_post-content {
            display: none;
            color: #666666;
            line-height: 1.8em;
            height: 1.3em;
        }
        .btn-vm {
            color: $color-principal2;
            border: 1px solid currentColor;
            padding: .3em 1em;
            -webkit-transition: ease-in .3s;
            -o-transition: ease-in .3s;
            transition: ease-in .3s;
        }
    }
}
.post-module:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-module:hover .thumbnail .img-thumbnail,
.hover .thumbnail .img-thumbnail {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1);
    opacity: 0.6;
}

.hover .post-content .vacio_post-content {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}
.post-module:hover .btn-vm {
    color: $color-principal1;
    border: 1px solid currentColor;
}
    