.owl-carousel {

    .owl-item,
    .owl-stage-outer,
    .owl-stage {
        height: 100%;
    }

    .owl-item {
        .item{
            height: 100%;
        }
        img {
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }
}

.owl-carousel.owl-drag .owl-item {
    height: 100%;
}

.owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: transparent;
}

.owl-dots {
    display: none;
}

.info-carousel {
    background-image: url('../../assets/images/icons/fondo-icono-gris.jpg');
    background-repeat: no-repeat;
    background-size: 75% 100%;
    height: 100%;

    >.row {
        height: 100%;
    }

    .content-title-carousel {
        margin-bottom: 1.5em;
    }

    .owl-content-info {
        .current {
            .item {
                height: 100%;
            }
        }

        .item {
            height: 100%;

            .icon-arrow {
                color: $color-icons;
                padding-top: .4em;
            }

            .description-info-carousel {
                padding-left: .5em;

                .title {
                    font-family: $font-titles-internas;
                    font-size: 1.5em;
                    color: $color-principal2;
                }

                .p-internas {
                    padding-top: 1em;
                }
            }
        }
    }

    .content-vp {
        padding-top: 5em;

        .vp {
            font-size: 1.3em;
            font-family: $font-titles-big;
        }
    }

}

.content-img-carousel {
    height: 100%;
    position: relative;

    .owl-img-carousel {
        .item {
            background-color: $color-principal2;
            height: 100%;
            position: relative;
        }

        .owl-nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
            position: absolute;
            //top: 0;
            bottom: 170px;
            left: -6.7%;
            margin: auto;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }

    .owl-img-carousel.owl-theme {
        //position: relative;
        height: 100%;
        //margin-left: -1px;

        .owl-next,
        .owl-prev {
            width: 8.3em;
            height: 8.3em;
            background-color: $fondo-btn-carousel;
            -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            margin: .5em 0;
            -webkit-transition: ease-in .25s;
            -o-transition: ease-in .25s;
            transition: ease-in .25s;
            &:hover{
                background: #143a7de0;
            }

            img {
                width: 30%;
            }

            span {
                font-size: 6em;
                color: $color-white;
            }
        }

    }

    #counter {
        width: 8.3em;
        height: 8.3em;
        background-color: $fondo-btn-carousel;
        -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        color: $color-white;
        font-family: $font-internas;
        position: absolute;
        z-index: 1;
        bottom: 263px;
        margin: auto;
        left: -14%;
        -webkit-transition: ease-in .25s;
        -o-transition: ease-in .25s;
        transition: ease-in .25s;
            &:hover{
                background: #143a7de0;
            }

        .slash {
            padding: 0 .4em;
        }

        .item-actual,
        .total-items {
            font-size: 1.2em;
        }
    }
}

.sct-carousel {
    height: 90vh;
    background-color: $color-white;
    overflow: hidden;

    >.container-fluid {
        height: 100%;

        >.row {
            height: 100%;
        }
    }

    .icon-carousel {
        font-size: 4.5em;
        color: $color-icons;
    }

    .content-img-carousel {
        .owl-img-carousel {
            .owl-nav {
                bottom: 75px;
            }
        }

        #counter {
            bottom: 168px;
        }
    }
}