button:focus {outline: none;}
.form {margin-top: 3em;}
.form__wrapper {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: .7em;
    width: 100%;
    vertical-align: top;
}
.form__wrapper >.form-bg,
.form__wrapper >.form-bg.error{
    background-color: #f3f4f8;
}
.form__input,
.form_textarea {
    display: block;
    position: relative;
    height: 42px;
    padding: 0.7em 0.125rem 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #444;
    font-size: 1em;
    outline: 0;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
         -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
            transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(94%, rgba(255, 255, 255, 0)), color-stop(4%, $color-principal1));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 94%, $color-principal1 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, $color-principal1 4%);
    background-position: -962px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &:required {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    
    &.error {
        -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
             -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
                transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(94%, rgba(255, 255, 255, 0)), color-stop(4%, red));
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 94%, red 4%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, red 4%);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    &:focus {
        background-position: 0 0;
        color: #444;
    } 
}

.form_textarea{
    height: 12.5em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(98%, rgba(255, 255, 255, 0)), color-stop(4%, $color-principal1));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 98%, $color-principal1 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, $color-principal1 4%);
    background-position: -962px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &.error {
        -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
             -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
                transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(98%, rgba(255, 255, 255, 0)), color-stop(4%, red));
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 98%, red 4%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, red 4%);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
.form__label {
    position: absolute;
    top: 0.7em;
    padding-left: 0.22em;
    z-index: 1;
    font-size: 0.75em;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
    transition: all 0.28s ease;
    font-family: $font-internas;
    font-weight: 600;
    color: $color-internas;
    width: 100%;
    font-size: .9rem;
}
.form__label-content {
    position: absolute;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
    transition: all 0.28s ease;
}

.form__input:focus ~ .form__label .form__label-content,
.form_textarea:focus ~ .form__label .form__label-content,
.form--filled .form__label-content {
    font-size: 0.75em;
    top: -.2em;
    color: $color-principal1;
    -webkit-transform: translate3d(0, -65%, 0);
            transform: translate3d(0, -65%, 0);
}

label.error {
    display: none !important;
}

.checkbox .label-pol{
    position: relative;
    cursor: pointer;
    padding-left: 2em;
    text-align: left;
    color: #333;
    display: block;
    font-size: .75em;

}

.checkbox input,
.form-radio input {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
}

.checkbox .helper {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    z-index: 0;
    border: 0.05em solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    -o-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease;
    bottom: 0;
    margin: auto;
}

.checkbox .helper::before,
.checkbox .helper::after {
    position: absolute;
    height: 0;
    width: 0.2rem;
    background-color: $color-principal1;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
        transform-origin: left top;
    border-radius: 0.25rem;
    content: '';
    -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
    -o-transition: opacity 0.28s ease, height 0s linear 0.28s;
    transition: opacity 0.28s ease, height 0s linear 0.28s;
    opacity: 0;
}

.checkbox .helper::before {
    top: 1em;
    left: 0.5em;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
}

.checkbox .helper::after {
    top: 0.55em;
    left: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
}

.checkbox label:hover .helper {color: $color-principal1;}
.checkbox input:checked~.helper {
    color: $color-principal1;
}
.checkbox input:checked~.helper::after,
.checkbox input:checked~.helper::before {
    opacity: 1;
    -webkit-transition: height 0.28s ease;
    -o-transition: height 0.28s ease;
    transition: height 0.28s ease;
}
.checkbox input:checked~.helper::after {height: 0.6em;}
.checkbox input:checked~.helper::before {
    height: 1.7em;
    -webkit-transition-delay: 0.28s;
    -o-transition-delay: 0.28s;
       transition-delay: 0.28s;
}

.checkbox+.checkbox { margin-top: 1rem;}
.input-bg-file {
    width: 100%;
    border: none;
    height: 42px;
    background-color: #f3f4f8;
}
.img-file {
    position: absolute;
    top: 0;
    width: 22px;
    right: 1.5em;
    margin: auto;
    bottom: -9px;
}
#upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;

}

input[type="file"] {
    position: absolute;
    width: 100%;
    height: 42px;
    opacity: 0;
    cursor: pointer;
    left: 0px;
    top: 0px;
}
input,textarea{
    color: $color-internas;
}

.input-textarea{
    padding: 1rem 0.5em 0.28125rem;
}
.select {
    position: relative;
    display: inline-block;
    width: 100%;
  
    select {
        font-family:  "Conv_GothamBook";
        line-height: 1.5;
        display: inline-block;
        width: 100%;
        font-size: .9rem;
        font-weight: 600;
        cursor: pointer;
        padding: 9px 15px;
        outline: 0;
        border: 0;
        border-radius: 0;
        background-color: #f3f4f8;
        color: #8b8888;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      
        &::-ms-expand {
            display: none;
        }
  
        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .icon-arrow-link {
        position: absolute;
        top: 22px;
        right: 30px;
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
        color: $color-principal1;
        cursor: pointer;
    }
}
label.error {
    display: none !important;
}
.radio {
    margin: 5px;
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        + .radio-label {
            &:before {
                content: '';
                background-color: #fff;
                border-radius: 100%;
                border: 2px solid $color-principal1;
                display: inline-block;
                width: 1.3em;
                height: 1.3em;
                position: relative;
                top: -0.2em;
                margin-right: .5em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                -webkit-transition: all 250ms ease;
                -o-transition: all 250ms ease;
                transition: all 250ms ease;
            }
        }
        &:checked + .radio-label:before {
            background-color: $color-principal1;
            -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
                    box-shadow: inset 0 0 0 4px #f4f4f4;
        }
        &:focus + .radio-label:before {
            outline: none;
        }
        &:disabled + .radio-label:before {
            -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
                    box-shadow: inset 0 0 0 4px #f4f4f4;
            border-color: #b4b4b4;
            background: #b4b4b4;
        }
        + .radio-label:empty:before {
            margin-right: 0;
        }
    }   
}
.box {
    margin: 1.2em;
    /*Checkboxes styles*/
    input[type="checkbox"] {
        display: none;
        +label {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 20px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                content: '';
                display: block;
                width: 23px;
                height: 23px;
                border: 1.5px solid $color-principal1;
                position: absolute;
                left: 0;
                top: 0;
                -webkit-transition: all .12s, border-color .08s;
                -o-transition: all .12s, border-color .08s;
                transition: all .12s, border-color .08s;
            }
        }
        &:checked+label:before {
            width: 10px;
            top: -5px;
            left: 5px;
            border-radius: 0;
            opacity: 1;
            border-top-color: transparent;
            border-left-color: transparent;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        }
    }
}