.titles-big{
    font-family: $font-titles-big;  
    text-transform: uppercase;
    color: $color-principal3;
    font-size: 2.2em;
    @media (max-width:575px){
        font-size: 1.8em;
    }
}
.title-orange-clear{
    color: $color-principal1;
}
.color-icons{
    color:$color-icons; 
}
.p-internas{
    color: $color-internas;
    font-family: $font-internas;
    margin-bottom: 1.15rem;
    font-size: .95em;
}
.title-blue{
    color: $color-principal2;
    font-family: $font-titles-internas;
}
.overflow-h {
    overflow: hidden;
}