@font-face {
	font-family: 'Conv_Gotham-Black';
	src: url('../../assets/fonts/Gotham-Black.eot');
	src: url('../../assets/fonts/Gotham-Black.woff') format('woff'), 
	url('../../assets/fonts/Gotham-Black.ttf') format('truetype'), 
	url('../../assets/fonts/Gotham-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_GothamBold';
	src: url('../../assets/fonts/GothamBold.eot');
	src: url('../../assets/fonts/GothamBold.woff') format('woff'), 
	url('../../assets/fonts/GothamBold.ttf') format('truetype'), url('../../assets/fonts/GothamBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_GothamBook';
	src: url('../../assets/fonts/GothamBook.eot');
	src: url('../../assets/fonts/GothamBook.woff') format('woff'), 
	url('../../assets/fonts/GothamBook.ttf') format('truetype'), url('../../assets/fonts/GothamBook.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*ICONS*/
@font-face {
	font-family: 'icomoon';
	src:  url('../../assets/fonts/icomoon/icomoon.eot?hpg343');
	src:  url('../../assets/fonts/icomoon/icomoon.eot?hpg343#iefix') format('embedded-opentype'),
	  url('../../assets/fonts/icomoon/icomoon.ttf?hpg343') format('truetype'),
	  url('../../assets/fonts/icomoon/icomoon.woff?hpg343') format('woff'),
	  url('../../assets/fonts/icomoon/icomoon.svg?hpg343#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-emblema:before {
	content: "\e922";
  }
  .icon-arrow:before {
	content: "\e900";
  }
  .icon-arrow-link:before {
	content: "\e901";
  }
  .icon-constructora:before {
	content: "\e902";
  }
  .icon-destinatario:before {
	content: "\e903";
  }
  .icon-diamonds:before {
	content: "\e904";
  }
  .icon-direccion-postal:before {
	content: "\e905";
  }
  .icon-edificacion:before {
	content: "\e906";
  }
  .icon-hamburger:before {
	content: "\e907";
  }
  .icon-facebook:before {
	content: "\e908";
  }
  .icon-saneamiento:before {
	content: "\e909";
  }
  .icon-search:before {
	content: "\e90a";
  }
  .icon-seg-report:before {
	content: "\e90b";
  }
  .icon-file:before {
	content: "\e90c";
  }
  .icon-funciona:before {
	content: "\e90d";
  }
  .icon-mineria:before {
	content: "\e90e";
  }
  .icon-mision:before {
	content: "\e90f";
  }
  .icon-novedades:before {
	content: "\e910";
  }
  .icon-nuestrosDatos:before {
	content: "\e911";
  }
  .icon-phone:before {
	content: "\e912";
  }
  .icon-politicas:before {
	content: "\e913";
  }
  .icon-postulante:before {
	content: "\e914";
  }
  .icon-proveedor:before {
	content: "\e915";
  }
  .icon-back:before {
	content: "\e916";
  }
  .icon-sobre:before {
	content: "\e917";
  }
  .icon-ubc:before {
	content: "\e918";
  }
  .icon-ubicacion:before {
	content: "\e919";
  }
  .icon-valores:before {
	content: "\e91a";
  }
  .icon-vial:before {
	content: "\e91b";
  }
  .icon-vial-det:before {
	content: "\e91c";
  }
  .icon-vision:before {
	content: "\e91d";
  }
  .icon-wts:before {
	content: "\e91e";
  }
  .icon-youtube:before {
	content: "\e91f";
  }
  .icon-reg-report:before {
	content: "\e920";
  }
  .icon-icono-regresar:before {
	content: "\e921";
  }
  