/*arrow hover*/
.button-hover {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 0;
	outline: 0;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;

	.arrow-next {
		left: 0;
		width: 70px;
		position: absolute;
		bottom: 50%;
		-webkit-transition-delay: 0.06s;
		     -o-transition-delay: 0.06s;
		        transition-delay: 0.06s;
		display: inline-block;
		height: 1px;
		-webkit-transition: all 0.3s cubic-bezier(0.79, 0.08, 0.28, 0.89) 0.1s;
		-o-transition: all 0.3s cubic-bezier(0.79, 0.08, 0.28, 0.89) 0.1s;
		transition: all 0.3s cubic-bezier(0.79, 0.08, 0.28, 0.89) 0.1s;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
		-webkit-transition-delay: 0.2s;
		     -o-transition-delay: 0.2s;
		        transition-delay: 0.2s;
		background-color: $color-white;
		width: 130px;

		&:after {
			-webkit-transition: all 0.3s cubic-bezier(0.79, 0.08, 0.28, 0.89) 0s;
			-o-transition: all 0.3s cubic-bezier(0.79, 0.08, 0.28, 0.89) 0s;
			transition: all 0.3s cubic-bezier(0.79, 0.08, 0.28, 0.89) 0s;
			content: "";
			position: absolute;
			-webkit-backface-visibility: hidden;
			        backface-visibility: hidden;
			right: 2px;
			top: -3px;
			width: 7px;
			height: 7px;
			border-bottom: 1px solid $color-white;
			border-right: 1px solid $color-white;
			-webkit-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			        transform: rotate(-45deg);
			z-index: 1;
		}

		&:before {
			content: "";
			z-index: -1;
			position: absolute;
			top: 0;
			right: -15px;
			margin: auto;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: #1a3a6eb6;
			bottom: 0;
			-webkit-transform-origin: 0 50%;
			    -ms-transform-origin: 0 50%;
			        transform-origin: 0 50%;
			-webkit-transition: background 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79), -webkit-transform 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79);
			transition: background 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79), -webkit-transform 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79);
			-o-transition: transform 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79), background 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79);
			transition: transform 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79), background 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79);
			transition: transform 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79), background 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79), -webkit-transform 0.3s cubic-bezier(0.89, 0.12, 0.18, 0.79);
		}
	}

	&.no-border {
		.arrow-next {
			left: 0;
			width: 70px;
			right: 0;
			-webkit-transition-delay: 0.16s;
			     -o-transition-delay: 0.16s;
			        transition-delay: 0.16s;
			margin: auto;
			bottom: -95px;
		}

	}

}
/*arrow-repeat*/
.arrow-repeat {
	display: inline-block;
	position: relative;
	left: 0;
	right: 0;
	border-radius: 0;
	outline: 0;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 100%;
	
	.p-scroll{
		color:$color-white;
		text-transform: uppercase;
		font-family: $font-internas;
		font-size: .6em;
		opacity: .9;
		letter-spacing: 2px;
		padding-top: 1.5em;
	}
	.img-arrow-banner{
		width: 62px;
		-webkit-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		        transform: rotate(-90deg);
		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-name: arrowBanner;
		        animation-name: arrowBanner;
		-webkit-animation-iteration-count: infinite;
		        animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;
		        animation-direction: alternate;
		position: relative;
		//position: absolute;
		margin: auto;
		//left: -65%;
		//right: 0;
		@-webkit-keyframes arrowBanner {
			0% {
				top: -12%;
			}
			100% {
				top: 7px;
			}
		}
		@keyframes arrowBanner {
			0% {
				top: -12%;
			}
			100% {
				top: 7px;
			}
		}
	}
	

	&.no-border {
		.arrow-next {
			left: 0;
			right: 0;
			-webkit-transition-delay: 0.16s;
			     -o-transition-delay: 0.16s;
			        transition-delay: 0.16s;
			margin: auto;
		}
	}
}
/*BUSCADOR*/
.form-search {
	width: 14.5em;
	margin-bottom: 0;
	.content-search {
		//border: 3px solid $color-principal1;
		//background-color: $color-white;
		border-radius: 3px;
		//height: 37px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		position: relative;
		.bmd-form-group {
			padding-top: 0;
		}
		.input-search {
			height: 100%;
			width: 100%;
			border: none;
			outline: none;
			padding: 0.5em 1.5em .5em .5em;
			font-family: $font-internas;
			color: $color-principal3;
			font-size: 1em;
			background: rgba(255, 255, 255, .5);
		}

		.icon-search {
			position: absolute;
			right: 5px;
			color: $color-icons;
			font-size: 1.2em;
			z-index: 1;
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
	}

}
.sct-navbar-proyect,
.sct-navbar-news {
	z-index: 1;
	position: -webkit-sticky;
	position: sticky;	
	top: 0;
    .nav-proyects {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background-color:$color-white; 
		padding-top: 1.5em;
		padding-bottom: 7em;
        .item-proyect {
            width: 12em;
			height: 9em;
			background-color: $color-principal2;
			position: relative;
			overflow: hidden;

			&:after,
				&:before{
					content: "";
					position: absolute;
					width: 200%;
					height: 200%;
					-webkit-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
					//opacity: 0.75;
					background-color: $color-principal1;
					
				}
			&:before {
				-webkit-transform: skew(-45deg) translateX(150%);
				-ms-transform: skew(-45deg) translateX(150%);
				    transform: skew(-45deg) translateX(150%);
				
			}
			&:after {
				-webkit-transform: skew(-45deg) translateX(-150%);
						-ms-transform: skew(-45deg) translateX(-150%);
				    transform: skew(-45deg) translateX(-150%);
			}

            .link-proyect {
                color: $color-white;
				font-family: $font-titles-internas;
				width: 100%;
				height: 100%;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				opacity: .6;
				&:after{
					content: "";
					position: absolute;
					width: 85%;
					height: 1px;
					background: #ffffff;
					bottom: 0;
					opacity: .6;
					@media (max-width:1024px) {
						display: none;
					}
				}
				
				@media (max-width:1024px) {
					opacity: 1;
				}

                .icon-nav {
                    font-size: 3em;
                    padding-bottom: .3em;
                }

                .title-nav-proyect {
                    font-size: .85em;
                }
			}
			&:hover,
			&.active{
				.link-proyect{
					opacity: 1;
					z-index: 1;
				}
				.icon-nav{
					color: $color-white;
				}
				&:after {
					-webkit-transform: skew(-53deg) translateX(-48%);
							-ms-transform: skew(-53deg) translateX(-48%);
					    transform: skew(-53deg) translateX(-48%);
				}
				&:before {
					-webkit-transform: skew(-53deg) translateX(48%);
							-ms-transform: skew(-53deg) translateX(48%);
					    transform: skew(-53deg) translateX(48%);
				}
			} 
        }
	}
	.navbar-proyect-mobile{
		display: none;
	}
}
.content-form {
	.title-form {
		//padding-bottom: 1.9em;
		.icon-form-nav {
			font-size: 4.3em;
			color: $color-icons;
		}
	}
}
.content-btn-send{
	margin-top: 1em;
	.btn-send{
		width: 13em;
		height: 2.3em;
		color: $color-white;
		background-color: $color-principal1;
		font-family: $font-titles-internas;
		font-size: 1.2em;
		border: none;
		letter-spacing: 1.1px;
		outline: none;
		-webkit-box-shadow: 
		0 0 0 0 $color-principal1,
		inset 6em 3.5em 0 0 $color-principal1;
		        box-shadow: 
		0 0 0 0 $color-principal1,
		inset 6em 3.5em 0 0 $color-principal1;
		-webkit-transition: all .4s;
		-o-transition: all .4s;
		transition: all .4s;
		cursor: pointer;
			
		&:hover,
		&:focus {
			-webkit-box-shadow: 0.3em 0.3em 0 0 $color-principal1,
			inset 0.3em 0.3em 0 0 $color-principal2;
			        box-shadow: 0.3em 0.3em 0 0 $color-principal1,
			inset 0.3em 0.3em 0 0 $color-principal2;
		}
	}
}
/*BTN-FLOTANT*/
.main-repeat{
	position: relative;
	overflow: hidden;
}
.btn-flotant{
	position: fixed;
	width: 3.5em;
    height: 3.5em;;
	border-radius: 50%;
	background-color: $fondo-btn-carousel;
	bottom: 4%;
    right: .5%;
	z-index: 1;
	-webkit-box-shadow: 0 0 0 1.5em rgba(#fff,0);
	        box-shadow: 0 0 0 1.5em rgba(#fff,0);
	-webkit-animation: pulses 2s infinite;
	        animation: pulses 2s infinite;
	display: none;
	.content-img{
		height: 100%;
		width: 100%;
		.img-flotant{
			width: .6em;
		}
	}
	@-webkit-keyframes pulses {
		0% { -webkit-box-shadow: 0 0 0 0 $color-principal1; box-shadow: 0 0 0 0 #f391004d; }
	  }
	@keyframes pulses {
		0% { -webkit-box-shadow: 0 0 0 0 $color-principal1; box-shadow: 0 0 0 0 #f391004d; }
	  }
}
/*DESCARGA PDF*/
.content-dscg-pdf{
	text-align: right;
	.icon-diamonds,
	.titles-big{
		color: $color-icons;
		font-size: .9em;
		padding: 0;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		&:hover{
			color: $color-principal2 !important;
		}
	}
	
}
.btn-modal,
.btn-modal-2{
	cursor: pointer;
}

.sct-navbar-proyect,
.sct-navbar-news {
	.nav-proyects li.item-proyect:hover .link-proyect:after,
	.sct-navbar-proyect .nav-proyects li.item-proyect.active .link-proyect:after,
	.sct-navbar-news .nav-proyects li.item-proyect.active .link-proyect:after{
		display: none;
	}
} 

.sct-content-thanks {
	padding: 3em 0 5em;
}
.text-thanks {
	.titles-big {
		margin-bottom: .8rem;
	}
	.p-internas {
		margin-bottom: 2rem;
	}
	.btn-volver {
		padding: .4em 2em;
		background: $color-principal1;
		color: white;
		font-family: $font-titles-internas;
	}
}
.d-in-block {
	display: inline-block;
}
.et-seg {
	margin: 0 1.3rem;
	.img-seg {
		height: 4em;
	}
	img {
		width: 3.8rem;
	}
	.p-internas {
		font-weight: bold;
		font-size: .8rem;
	}
	.title-seg {
		height: 2em;
	}
}
.wrapper-etapas-seg {
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 1.5em;
}
.vacio-seg {
	width: 5rem;
    height: 3px;
    background: $color-principal1;
    margin-bottom: 20px;
}
.sg {
	.titles-big {
		padding: 0em 0 1.5em !important;
	}
}
