$color-principal1: #f39100;
$color-principal2: #143a7d;
$color-principal3: #6c6c6c;
$color-internas:#8b8888;
$color-white:#ffffff;
$color-fondo-internas:#f3f4f8;
$color-icons: #f39100;
$fondo-btn-carousel:#f39200da;

$color-orange:#e94e1b;
$color-lightBlue:#009fe4;
$color-border: #beafac;

/*TYPOGRAFÍA*/
$font-titles-big: 'Conv_Gotham-Black';
$font-titles-internas: 'Conv_GothamBold';
$font-internas: 'Conv_GothamBook';
