.main-bussines-line {
    overflow: hidden;

    .sct-carousel {
        height: 100vh;
    }
}

#main-line-deal {
    .sct-two-home {
        .container-diamond {
            padding-top: 7em;
            background-color: rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
    }
}

/*NUEVO DIAMOND*/

.columnita {
    cursor: pointer;
    width: 22em;
    height: 22em;
    position: relative;

    &:nth-child(even) {
        margin-left: -6.3%;
    }

    &:nth-child(odd) {
        margin-left: -6.3%;
        margin-top: 12.5%;
    }

    &:first-child {
        margin-left: 0;
    }
}

.containers {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    width: 100%;
    height: 100%;

    &:hover {
        -webkit-transform: scale(1.2) !important;
            -ms-transform: scale(1.2) !important;
                transform: scale(1.2) !important;
        z-index: 1;
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
    }
}

.front,
.back {
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    height: 100%;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.title-flip {
    font-family: $font-titles-big;
    text-transform: uppercase;
    color: $color-white;
    letter-spacing: 1.2px;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.containers .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.containers .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner .title-flip {
    font-size: .85em;
    position: relative;
}

.title_sct_two {
    color: $color-white;
    font-family: $font-titles-internas;
    text-transform: uppercase;
    font-size: 2.3em;
    //margin-bottom: -11em;
}

.bg-sct-two {
    background-repeat: repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.arrow-diamonds {
    position: absolute;
    bottom: -97px;
    margin: auto;
    left: 0;
    right: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    &:before {
        content: "";
        position: absolute;
        width: 2em;
        height: 2em;
        background-color: #143a7db4;
        z-index: -1;
        border-radius: 50%;
        right: -18px;
        top: 6px;
    }
    
    img{
        width: 2.5em;
        z-index: 1;

    }
}
#main-line-deal #inicio_servicios{
    padding-top:  4em;
}
@media (min-width:992px)and (max-width:1024px) {

    .arrow-diamonds {
        position: absolute;
        bottom: -97px;
        margin: auto;
        left: 0;
        right: 0;

        img {
            width: 3em;
            z-index: 1;
        }

        &:after {
            content: "";
            position: absolute;
            width: 2.5em;
            height: 2.4em;
            background-color: #143a7db4;
            z-index: -1;
            border-radius: 50%;
            right: 100px;
            top: 6px;
        }
    }

    .main-home {
        #inicio_servicios>.container-fluid {
            padding-top: 3em;
        }
    }
}

@media (min-width:992px)and (max-width:1024px) {
    .columnita {
        width: 17em;
        height: 17.5em;

        >.front .title-flip {
            font-size: .75em;
        }

        >.back .title-flip {
            font-size: .8em;
        }
    }

}

@media (min-width:1024px)and (max-width:1199px) {
    .columnita {
        width: 17em;
        height: 17em;

        .front .inner .title-flip {
            font-size: 0.7em;
        }

        .back .inner .title-flip {
            font-size: 0.7em;
        }

        .arrow-diamonds {

            &:after {
                content: "";
                width: 2em;
                height: 2em;
            }
        }
    }
}

@media (min-width:856px)and (max-width:991px) {
    .columnita {
        width: 20em;
        height: 20em;

        >.front .title-flip {
            font-size: .75em;
        }

        >.back .title-flip {
            font-size: .8em;
        }
    }

    .columnita:nth-child(odd) {
        margin-left: -6.3%;
        margin-top: -18.5%;
    }

    .columnita:nth-child(even) {
        margin-left: 30.7%;
        margin-top: -15.5%;
    }

    .columnita:first-child {
        margin-left: 0%;
        margin-top: 3%;
    }

}

@media (min-width: 761px) and (max-width:855px) {

    .columnita {
        width: 20em;
        height: 20em;

        >.front {
            .title-flip {
                font-size: .8em;
            }
        }

        >.back {
            .title-flip {
                font-size: .85em;
            }
        }

        &:nth-child(even) {
            margin-left: 27%;
            margin-top: -24%;
        }

        &:nth-child(odd) {
            margin-left: -21%;
            margin-top: -24%;
        }

        &:first-child {
            margin-left: -21%;
            margin-top: 6%;
        }

    }
}

@media (min-width:761px) and (max-width:783px) {
    .columnita {
        width: 20em;
        height: 20em;
    }
}

@media (min-width: 576px) and (max-width:760px) {
    html {
        font-size: 15px;
    }

    .columnita {
        &:nth-child(even) {
            margin-left: 27%;
            margin-top: -24%;
        }

        &:nth-child(odd) {
            margin-left: -21%;
            margin-top: -24%;
        }

        &:first-child {
            margin-left: -21%;
            margin-top: 6%;
        }

        >.front {
            .title-flip {
                font-size: .95em;
            }
        }

        >.back {
            .title-flip {
                font-size: 1em;
            }
        }
    }
}

@media (min-width:576px)and (max-width:658px) {
    .columnita {
        width: 19em;
        height: 19em;
    }

}

@media (min-width: 361px) and (max-width:575px) {
    .front .inner .title-flip {
        font-size: 0.6em;
    }

    .columnita>.front .title-flip {
        font-size: 0.7em;
    }

    .columnita {
        width: 16em;
        height: 16em;

        &:nth-child(even) {
            margin-left: 27%;
            margin-top: -24%;
        }

        &:nth-child(odd) {
            margin-left: -21%;
            margin-top: -24%;
        }

        &:first-child {
            margin-left: -21%;
            margin-top: 6%;
        }

        >.front {
            .title-flip {
                font-size: .8em;
            }
        }

        >.back {
            .title-flip {
                font-size: .85em;
            }
        }
    }

    .columnita>.front .title-flip {
        font-size: 0.7em;
    }

}

@media (min-width:506px) and (max-width:575px) {
    .columnita {
        width: 18em;
        height: 18em;
    }
}

@media (max-width: 360px) {
    .front .inner .title-flip {
        font-size: 0.6em;
    }

    .columnita {
        width: 12em;
        height: 12em;

        &:nth-child(even) {
            margin-left: 29%;
            margin-top: -24%;
        }

        &:nth-child(odd) {
            margin-left: -19%;
            margin-top: -24%;
        }

        &:first-child {
            margin-left: -19%;
            margin-top: 3%;
        }
    }

    .columnita>.front .title-flip {
        font-size: 0.6em;
    }
}

@media (min-width:320px)and(max-width:991px) {
    .wrapper-diamonds {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 6em;
    }

    #inicio_servicios {
        height: auto;
    }

    .title-sct-prd {
        padding-bottom: 2em;

        .title_sct_two {
            margin-bottom: 0;
        }

    }
}
@media (max-width:1199px){
    #inicio_servicios{
        height: auto;
    }
}

.title-flip {
    width: 90% !important;
    margin: auto;
}
