.detail-channel-of-concerns {
    background-color: $color-white;
    .title-big-rep {
        color: $color-principal2;
        font-family: $font-titles-big;
        font-size: 1.4em;
        margin-bottom: .7em;
    }

    .title-rep-irr {
        color: $color-principal1;
        font-family: $font-titles-internas;
        margin-bottom: .6em;

        .icon-rep-irr {
            padding: .5em 0 .2em;
            font-size: 2.3em;
        }
    }

    .content-info-rep {
        //padding: 0 1.7em;
        .p-internas {
            font-size: .85em;
            text-align: center;
        }
    }

    .description-ch-of-conc {
        padding: 4em 8em;

        .icon-form-nav {
            font-size: 5.3em;
            color: $color-icons;
        }

        .titles-big {
            margin-bottom: .7em;
        }
    }

    .navbar-form-web {
        list-style: none;
        padding: 1em 0 3em;

        .item-form-web {
            //background-color: $color-principal2;
            width: 17em;
            height: 8em;
            margin: 0 2em;
            

            .link-form-web {
                width: 100%;
                height: 100%;

                .icon-form-web,
                .titles-big {
                    color: $color-white;
                    font-size: .8em;
                    letter-spacing: 1.4px;
                    text-align: center
                }

                .icon-form-web {
                    font-size: 3.5em;
                    margin-bottom: .25em;
                }

                .titles-big {
                    font-size: .8em;
                    line-height: 1.3;
                }
            }

            &:first-child {
                background-color: $color-principal1;
                -webkit-box-shadow: 
                    0 0 0 0 $color-principal1,
                    inset 6em 3.5em 0 0 $color-principal1;
                        box-shadow: 
                    0 0 0 0 $color-principal1,
                    inset 6em 3.5em 0 0 $color-principal1;
                -webkit-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
                &:hover,
                &:focus {
                    -webkit-box-shadow: 0.3em 0.3em 0 0 $color-principal1,
                    inset 0.3em 0.3em 0 0 $color-principal2;
                            box-shadow: 0.3em 0.3em 0 0 $color-principal1,
                    inset 0.3em 0.3em 0 0 $color-principal2;
                }
            }
            &:last-child{
                background-color: $color-principal2;
                -webkit-box-shadow: 
                    0 0 0 0 $color-principal2,
                    inset 6em 3.5em 0 0 $color-principal2;
                        box-shadow: 
                    0 0 0 0 $color-principal2,
                    inset 6em 3.5em 0 0 $color-principal2;
                -webkit-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
                &:hover,
                &:focus {
                    -webkit-box-shadow: 0.3em 0.3em 0 0 $color-principal2,
                    inset 0.3em 0.3em 0 0 $color-principal1;
                            box-shadow: 0.3em 0.3em 0 0 $color-principal2,
                    inset 0.3em 0.3em 0 0 $color-principal1;
                }
            }
        }
    }

}

/*REGISTRAR REPORTE*/
.main-report {
    padding-top: 13em;

    .titles-report {
        font-family: $font-titles-big;
        font-size: 1.4em;
    }

    .icon-report {
        font-size: 1.9em;
    }

    .content-form {
        .title-reg {
            color: $color-principal2;
            font-family: $font-titles-big;
            letter-spacing: 1.5px;
            padding-top: 1em;
            padding-bottom: .6em;
        }

        .p-internas {
            margin-bottom: 0;
        }

        .p-adj-evid {
            padding-top: 2em;
            padding-bottom: 1em;
        }

        .p-descr-incident {
            padding-bottom: 1em;
        }

        .content-radio-adj {
            .radio {
                padding-left: 1.8em
            }
        }

        .form-invol {
            padding-left: 2.5em
        }

        .icon-arrow {
            font-size: 1.2em;
            padding-right: .5em;
        }

        .datos-reg {
            padding-top: .9em;
        }
    }
}

/*SEGUIMIENTO DE REPORTE*/
.sct-form-segment,
.sct-report-sent {
    padding: 2.5em 0 2em;

    .icon-seg-report,
    .icon-reg-report {
        font-size: 4.5em;
    }

    .titles-big {
        padding: 1em 0 .8em;
    }

    .p-internas {
        padding: 0 2em;
    }

    .bmd-form-group .bmd-label-floating,
    .bmd-form-group .bmd-label-placeholder {
        left: 0;
        right: 0;
    }

    .content-btn-send .btn-send {
        width: 11em;
        font-size: 1.1em;
    }
}

.sct-report-sent {
    .content-btn-send {
        margin-top: 0;
    }
    .p-internas {
        font-size: 1.1em;
    }

    .number-asig-report {
        font-weight: bold;
        font-size: 1.4em;
        line-height: 3;
    }
}

#channel-of-concerns,
#report-segment{
    .arrow-repeat{
        top: -6%
    } .img-arrow-banner{
        left: -7%;
    }
}
.form-reg-report {
    margin-bottom: 2em;
}
.form-seg-report {
    .form__label {
        right: 19%;
    }
}