.map {
    width: 100%;
}

.sct-content-form {
    padding: 3em 0 1em;
    background-color: $color-white;
    .title-form {
        margin-bottom: 2.5em;
        .icon-nuestrosDatos {
            color: $color-icons;
            font-size: 4.4em;
        }
    }

    .div-info {
        margin-bottom: 1.3em;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;

        .icon-info-form,
        .title-info-form {
            color: $color-icons;
        }

        .icon-info-form {
            font-size: 1.3em;
            padding-right: .3em;
        }

        .title-info-form {
            font-family: $font-internas;
            font-weight: bold;
            padding: 0 .5em;
        }
    }
    .content-form{
        padding-top: 3.2em;
    }

}