/*SECCION TWO HOME (diamonts)*/
.sct-two-home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    >.container-fluid {
        height: 100%;
        width: 100%;

        >.row {
            height: 100%;
        }
    }

    .container-diamond {
        background-color: rgba(0, 0, 0, 0.5);
        >.row {
            width: 100%;
            height: 100%;
        }
    }
    
}
.blur-bg {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;    
}
.ahref {
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.section {
    .container-fluid {
        height: 100%;
        .row {
            height: 100%;
            position: relative;
        }
    }
}

/*SECCION CAROUSEL PROYECTS*/
#main-home {
    .sct-carousel {
        height: 100vh;

        >.container-fluid {
            height: 100%;

            >.row {
                height: 100%;
            }
        }

    }
}

/*SECCION ONE HOME*/
.sct-one-home {
    height: 100vh;

    >.container-fluid {
        height: 100%;

        >.row {
            height: 100%;
        }
    }

    .owl-carousel {
        height: 100%;
        .owl-nav {
            height: -webkit-max-content;
            height: -moz-max-content;
            height: max-content;
            width: 75%;
            position: absolute;
            top: 40%;
            margin: auto;
            left: 0;
            right: 0;
            button.owl-prev,
            button.owl-next {
                background-color: none;
                color: $color-white;
                border: none;
                padding: 0 !important;
                font: inherit;
                outline: none;
                position: absolute;
                .img-arrow-home{
                    width: 60px;
                }
            }
            button.owl-prev {
                left: 0;
            }
            button.owl-next{
                right: 0;
            }
        }

        .owl-item {

            .item {
                .text {
                    width: 30%;
                    height: -webkit-max-content;
                    height: -moz-max-content;
                    height: max-content;
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 15.3vh;
                    margin: auto;
                    z-index: 99;
                    color: $color-white;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                            -webkit-box-align:center;
                            -ms-flex-align:center;
                                align-items:center;
                    -webkit-box-pack:center;
                        -ms-flex-pack:center;
                            justify-content:center;

                    .titles-big {
                        color: $color-white;
                        font-size: 3.4em;
                        -ms-transform: rotate(10deg);
                        /* IE 9 */
                        -webkit-transform: rotate(10deg);
                        /* Chrome, Safari, Opera */
                        transform: rotate(10deg);
                    }

                    .p-internas {
                        color: $color-white;
                        font-size: .8em;
                        //padding-left: 7em;
                        -ms-transform: rotate(-5deg);
                        /* IE 9 */
                        -webkit-transform: rotate(-5deg);
                        /* Chrome, Safari, Opera */
                        transform: rotate(-5deg);
                    }
                }
            }
            img {
                z-index: -1;
            }
        }

        .owl-item.active {
            .item {
                .text {
                    opacity: 1;
                    -webkit-transition: all 300ms ease 0.5s;
                    -o-transition: all 300ms ease 0.5s;
                    transition: all 300ms ease 0.5s;

                    .titles-big {
                        margin: 10px 0 0 0;
                        -ms-transform: rotate(0deg);
                        /* IE 9 */
                        -webkit-transform: rotate(0deg);
                        /* Chrome, Safari, Opera */
                        transform: rotate(0deg);
                        -webkit-transition: all 250ms ease 0.5s;
                        -o-transition: all 250ms ease 0.5s;
                        transition: all 250ms ease 0.5s;
                    }
                    .p-internas {
                        margin: 10px 0 0 0;
                        -ms-transform: rotate(0deg);
                        /* IE 9 */
                        -webkit-transform: rotate(0deg);
                        /* Chrome, Safari, Opera */
                        transform: rotate(0deg);
                        -webkit-transition: all 250ms ease 0.6s;
                        -o-transition: all 250ms ease 0.6s;
                        transition: all 250ms ease 0.6s;
                
                    }
                }
            }
        }
    }
    .content-title-banner {
        //bottom: 11vh;
        margin: auto;
        //left: -12.5%;
        z-index: 1;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
    }

    .arrow-repeat {
        .img-arrow-banner {
            @media (min-width:1200px) and (max-width:1400px) {
                width: 51px;
            }
            
        }
    }
}
.bg-home-s1 {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/Sombra_malaga.png');
    background-size: contain;
}
.section .home-crsl {
    height: 93vh;
}
.sct-card-news .content-title-home {
    padding: 3em 0;
}
.sct-certifications-home {
    margin: 1em 0 2.5em;
    .content-certifications {
        img {
            width: 2.8em;
            -o-object-fit: contain;
               object-fit: contain;
            margin: 0 .5em;
        }
        .isoIqnet {
            width: 4.2em;
        }
        .imgs {
            margin: auto;
        }
    }
}
.main-home {
    .sct-card-news {
        padding-bottom: 0;
    }
}
