@media (min-width:1200px){
    .sct-parallax{
        position: -webkit-sticky !important;
        position: sticky !important;
        top: -100%;
        &:first-child{
            top: 0;
        }
    }
    .main-bussines-line,
    .proyects,
    #main-news,
    #contact-us,
    #channel-of-concerns,
    #main-us{
        .sct-parallax:first-child{
            top: -50%;
        }
    } 
    .main{
        .sct-parallax:first-child{
            top: -50%;
        }
    } 
    .work-with-us{
        .sct-parallax:first-child{
            top: -35%;
        }
    }
}

@media (min-width:1401px)and (max-width:1750px){
    html{
        font-size: 14px;
    }
    .sct-carousel{
        .content-img-carousel{
            .owl-img-carousel{
                .owl-nav {
                    left: -7%;
                }
            } 
            #counter{
                bottom: 147px;
                left: -15%;
            }
        } 
    } 

    .wrapper-diamond-us{
        .content-diamond-us{
            .diamond-us {
                width: 15.5em;
                height: 15.5em;
                .year-diamond {
                    font-size: 3.5em;
                }
                .p-year-diamond {
                    font-size: 1.1em;
                }
            }
        } 
    } 
    .sct-description-us {
        height: auto;
    }
    .content-img-certification{
        margin-bottom: 2em;
    }
    .state-of-work {
        left: -50px;
    }
    .sct-one-home{
        .arrow-repeat {
            top: 19px;
            .img-arrow-banner {
                width: 54px;
            }
        }
    }
}
@media (min-width:1367px)and(max-width:1750px){
    #tabsContainer .tabs-nav .list-departament .item-departament.active .rombo-img {
        top: -146%;
    }
}
@media (min-width:1200px)and (max-width:1337px){
    .sct-content-form .div-info {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .p-internas {
            padding-left: 2.2em;
        }
    }

}
@media (min-width: 1200px) and (max-width:1400px) {
    html {
        font-size: 14px;
    }
    .state-of-work {
        left: -50px !important;
    }
    .section .home-crsl {
        height: 91vh;
    }
    /*HOME*/
    .flip {
        width: 20em;
        height: 20em;
        cursor: pointer;

        >.front {
            .title-flip {
                font-size: 1em;
            }
        }

        >.back {
            .title-flip {
                font-size: 1.1em;
            }
        }
    }

    .content-img-carousel {
        .owl-img-carousel {
            .owl-nav {
                left: -7.3%;
            }
        }

        .owl-img-carousel.owl-theme {

            .owl-next,
            .owl-prev {
                width: 8em;
                height: 8em;
            }
        }

        #counter {
            width: 8em;
            height: 8em;
            left: -15%;
            bottom: 146px !important;
        }
    }

    .button-hover .arrow-next:before {
        right: -12px;
        width: 30px;
        height: 30px;
    }

    .button-hover.no-border .arrow-next {
        width: 40px;
        bottom: -81px;
    }

    /*nosotros*/
    .wrapper-diamond-us {
        .content-diamond-us {
            .diamond-us {
                width: 19em;
                height: 19em;

                .year-diamond {
                    font-size: 5em;
                }
            }
        }
    }
    .content-title-banner {
        padding-bottom: 3em;
    }
    .sct-values{
        .content-img-value .img-value {
            width: 90px;
        }
    } 

    .sct-policies .description-policies .titles-big {
        font-size: 1.15em;
    }

    /*DETALLE DE PROYECTOS*/
    .detail-proyects {
        .owl-content-info {
            .description-info-carousel {
                .title {
                    font-size: 1.5em;
                }
            }
        }
    }
    .sct-navbar-proyect .nav-proyects .item-proyect {
        width: 11em;
        height: 8em;
    }
    .sct-one-home .arrow-repeat {
        top: 19px;
    }
    #footer {
        padding: 0.9em 0;
    }

}
@media (min-width:1025px)and (max-width:1199px){
    .wrapper-diamond-us{display: none!important}
    .container {
        width: 90%;
    }
    header{
        .content-img-logo{
            width: 30%;
        }
        .content-menus-general{
            width: 69%;
            .content-menus{
                .content-navbar{
                    .navbar-principal .item-navbar .link-navbar{
                        font-size: 0.8em;
                    }  
                } 
            } 
        } 
    } 
    .sct-carousel{
        height: auto;
    }
    .sct-one-home .owl-carousel .owl-item .item .text {
        width: 40%;
    }
    .content-img-carousel {

        .owl-img-carousel.owl-theme .owl-next,
        .owl-img-carousel.owl-theme .owl-prev,
        #counter{
            width: 5em;
            height: 5em;
        }

    } 
    .sct-card-news .wrapper-card .content-date .date-span {
        font-size: .7em;
    }
    .sct-card-news .wrapper-card .content-date {
        width: 4em;
        height: 4em;
    }
}
@media (min-width:768px)and(max-width:1199px){
    html{
        font-size: 17px;
    }
    .main-bussines-line .sct-carousel {
        height: 75vh;
    }
    .content-title-banner .h1-banner {
        font-size: 2.5em;
    }
    .sct-card-proyects{
        .layout-cards-proyects{
            .wrapper-card-proyect {
                width: 100%;
            }
        }
        .wrapper-title-pyts {
            padding-top: 0em;
            padding-bottom: 2em;
        } 
    } 

    .arrow-repeat {
        display: none !important;
    }
    .sct-card-news {
        .wrapper-card {

            .content-img,
            .description-card{
                height: 14em;
            }
        }
    }
    
}
@media (min-width:768px)and(max-width:992px) {
    
    .sct-values .content-img-value {
        height: 5.5em;
    }
    .flip {
        width: 21em;
        height: 21em;
    }
    .sct-banner {
        height: 41vh;
    }    
}
@media (max-width:575px) {
    html {
        font-size: 14px;
    }
    .sct-certifications-home .content-certifications img {
        width: 2em;
    }
    .sct-certifications-home .content-certifications .isoIqnet {
        width: 3.8em;
    }
    .container {
        width: 90%;
    }
    .state-of-work {
        top: 35px;
        left: -66px;
    }
    /*HOME*/

    .button-hover.no-border {
        .arrow-next {
            width: 3em;
            bottom: -4em;

            &:before {
                right: -11px;
                width: 2em;
                height: 2em;
            }
        }
    }

    .sct-two-home {
        height: auto;

        .container-diamond {
            .title_sct_two {
                margin-bottom: 1em;
                padding-top: 1em;
                font-size: 1.8em;
            }
        }
    }

    /*NOVEDADES*/

    .sct-title-search-news {
        padding: 0em 0 2em;
    }

    .wrapper-search {
        padding: 2em 0;
        width: 100%;
    }

    .form-search {
        width: 100%;

        .content-search {
            border: 3px solid #f39100;
            border-radius: 3px;
            height: 33px;
        }
    }

    /*TRABAJA CON NOSOTROS*/
    .work-with-us {
        .form-work-with-us {

            .sct-navbar-proyect {

                .nav-proyects {

                    .item-proyect {
                        width: 50%;

                        .link-proyect {
                            .icon-nav {
                                display: block;
                            }

                            .title-nav-proyect {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-form .title-form {
        padding: 1.9em 0;
    }

    /*CONTACTANOS*/
    .sct-content-form {
        .content-form {
            padding-top: 1em;
        }

        .div-info {
            .title-info-form {
                padding: 0;
            }

            .p-internas {
                padding-left: 1.8em;
            }
        }
    }
    .content-btn-send .btn-send{
        margin: auto;
    }
    /*CANAL DE INQUIETUDES*/
    .detail-channel-of-concerns {
        .description-ch-of-conc {
            padding: 0;
        }

        .navbar-form-web {
            .item-form-web {
                width: 49%;
                margin: 0;
            }
        }

        .rep-irrg {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

        .title-big-rep {
            padding: 0;
        }
    }

    .main-report {
        .content-form {
            .title-reg {
                font-size: 1.8em;
                padding-left: 0;
                padding-right: 0;
            }

            .p-internas {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            .p-descr-incident {
                padding-top: 2em;
            }

            .box {
                >.p-internas {
                    display: block;
                }

            }
        }
    }

    .sct-form-segment .p-internas,
    .sct-report-sent .p-internas {
        padding: 0;
    }
    /*PROYECTOS*/
    .main-bussines-line .sct-carousel {
        height: auto;
    }

    .sct-values .content-img-value {
        height: auto;
    }
    header {
        >.container {

            >.row {
                >.icon-hamburger {
                    font-size: 1.5em;
                }

                >.icon-back {
                    font-size: 1.5em;
                }
            }
        }
        .content-menus-general {
            .content-menus {
                .content-navbar {
                    padding-top: 5em;
                    .navbar-principal {
                        .item-navbar {
                            .link-navbar {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }
    }
    .sct-banner{
        .container-fluid{
            .content-img{
                background-size: 201% !important;
                background-repeat: no-repeat;
            }
        }
    }
    .main-rse {
        .sct-banner{
            .content-img{
                &.rse1,
                &.rse2,
                &.rse3 {
                    background-size: 201% !important;
                    background-repeat: no-repeat;
                }
            } 
        }
    }
    .btn-flotant {
        bottom: 4%;
        right: 20px;
    }
    .cnt-divs{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .flip > .back .title-flip {
        font-size: 0.9em;
    }
    .modal-content .modal .modal-info .owl-carousel .owl-nav {
        left: -61px;
        right: -54px;
    }
    .content-tform{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .switch {
        height: 1.5em;
        width: 6em;
        padding: 0.2em 0;
        margin: 0px 6.5em;
        &.active:before {
            left: 43px;
        }
    }
}
@media (min-width:320px)and(max-width:991px){
    .sct-mv-map .content-map-desktop{
        margin: auto;
    }
    #tabsContainer{
        position: relative;
        padding: 0 3em;
        .tabs-nav{
            .list-departament{
                .item-departament {
                    position: relative;
                    left: 0 !important;
                    border-bottom: 2px solid $color-principal1;
                    padding: 1.5em .6em;
                    .rombo-img{
                        width: 25px;
                        margin-right: .3em;
                    }
                    .link-departament{
                        font-size: 1.4em;
                    }
                    .info-ofc{
                        font-size: 1em;
                        padding: .4em 0;
                    }
                    .info-ofc,
                    .link-departament{
                        font-family: $font-titles-internas;
                        color: $color-principal2;
                    }
                    .span-direction{
                        font-family: $font-internas;
                        color: $color-principal2;
                        font-size: 0.85em;
                    }
                }
            } 
        } 
    } 
    .sct-mv-map{ 
        .content-info-map{
            .content-title-map{
                padding: 2em 1em;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
        }
    }
    .main-rse .sct-navbar-proyect .nav-proyects {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    /*PROYECTOS*/
      .sct-card-proyects {

        .container-fluid {
            >.row {
                margin-right: 0;
                margin-left: 0;
            }
        }

        .wrapper-title-pyts {
            padding-top: 1em;

            .content-title {
                .icon-title-card {
                    font-size: 3.5em;
                }
            }
        }
        .sct-navbar-proyect {
            width: 85%;
            position: relative;
            margin: auto;
            padding-top: 1.2em;
    
            .nav-proyects {
                width: 100%;
                background-color: $color-principal1;
                padding: .5em;
                display: none;
    
                .item-proyect {
                    height: auto;
                    width: 100%;
                    background-color: transparent;
                    margin-bottom: 1em;
    
                    .link-proyect {
                        color: #ffffff;
                        font-family: "Conv_GothamBold";
                        text-align: left !important;
                        
                        .icon-nav {display: none;}
    
                        .title-nav-proyect {
                            font-size: 1em;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
    
            .nav-proyects.active {
                display: block;
                width: 100%;
            }
    
            .navbar-proyect-mobile {
                display: block;
                background-color: $color-principal2;
                color: $color-white;
                font-family: $font-titles-big;
                cursor: pointer;
                margin: auto;
                width: 100%;
    
                .title-navbar-mobile {
                    font-size: 1.2em;
                    text-transform: uppercase;
                    padding: .6em 0;
                    position: relative;
                    text-align: center;
    
                    .icon-arrow-link {
                        -webkit-transform: rotate(-90deg);
                            -ms-transform: rotate(-90deg);
                                transform: rotate(-90deg);
                        position: absolute;
                        right: -5px;
                        top: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
    .main-detail-news.main-rse .sct_detail_news .titles-big {
        padding-top: 1.2em;
    }

}
@media (min-width:320px)and(max-width:1024px) {
    .sct-two-home {
        height: auto;
    }
    /*HEADER*/
    header {
        >.container {
            width: 100%;
            padding: 0 2.3em;

            >.row {
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                >.icon-hamburger {
                    color: $color-principal2;
                    z-index: 1000;
                }

                >.icon-back {
                    color: $color-principal2;
                    z-index: 1000;
                }
            }
        }

        #button-menu {
            display: block;
        }

        .content-img-logo {
            width: auto;
        }

        .content-menus-general {
            width: 100%;

            .content-menus {
                width: 90%;
                height: 100vh;
                background-color: $color-white;
                -webkit-box-orient: vertical !important;
                -webkit-box-direction: reverse !important;
                    -ms-flex-direction: column-reverse !important;
                        flex-direction: column-reverse !important;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;
                position: fixed;
                top: 0;
                margin: auto;
                left: -100%;
                overflow: hidden;
                -webkit-transition: left .5s;
                -o-transition: left .5s;
                transition: left .5s;
                padding-top: 10vh;

                .content-navbar {

                    .navbar-principal {
                        height: auto;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        padding-left: 1.2em;

                        .item-navbar {
                            line-height: 2.5;

                            >.icon-arrow-link {
                                -webkit-transform: rotate(180deg);
                                    -ms-transform: rotate(180deg);
                                        transform: rotate(180deg);
                                padding-left: 1em;
                                position: absolute;
                                right: 0;
                                color: $color-principal2;
                            }

                            &:nth-child(2) {
                                .link-navbar {
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-pack: justify;
                                        -ms-flex-pack: justify;
                                            justify-content: space-between;
                                    -webkit-box-align: center;
                                        -ms-flex-align: center;
                                            align-items: center;
                                }
                            }

                            .submenu {
                                top: 0;
                                height: 100vh;
                                width: 100%;
                                margin-top: 0;
                                background-color: $color-white;
                                right: -100%;
                                padding: 0;
                                display: block;
                                padding-top: 3em;
                                -webkit-transition: right 1s;
                                -o-transition: right 1s;
                                transition: right 1s;
                                z-index: 100;

                                &:after {
                                    display: none;
                                }

                                .title-submenu {
                                    color: $color-principal2;
                                    font-family: $font-titles-big;
                                    font-size: 1.3em;
                                    text-align: center;
                                    border-bottom: 1px solid;
                                    position: relative;
                                    margin-bottom: 1em;

                                    .icon-arrow-link {
                                        position: absolute;
                                        font-size: 1.3em;
                                        width: 65px;
                                        height: 100%;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -webkit-box-pack: center;
                                            -ms-flex-pack: center;
                                                justify-content: center;
                                        -webkit-box-align: center;
                                            -ms-flex-align: center;
                                                align-items: center;
                                                left: 0;
                                    }
                                }

                                .item-submenu {
                                    .link-submenu {
                                        font-size: .85em;
                                        color: $color-principal2;

                                        .icon-diamonds {
                                            font-size: 1em;
                                        }
                                    }
                                }
                            }
                        }
                        .item-navbar.sub,
                        .item-navbar.sub2{
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            
                        }
                    }
                }

                .content-navTop {
                    border-top: 1px solid $color-principal2;
                    width: 100%;
                    .navTop {
                        width: 13em;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        margin: auto;
                        text-align: center;
                        padding-top: 2em;

                        .navTop-item {
                            width: 100%;
                            height: 1.8em;
                            margin-bottom: 1em;
                            .navTop-link {
                                font-size: .75em;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                        justify-content: center;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                background-color: initial !important;
                                border: 1px solid $color-principal1 !important;
                                color: $color-principal1;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

    }

    .main-detail-news {
        .sct_detail_news {
            .description-news-general {
                padding: 0;
                .content-title-detail-news{
                    padding-top: .5em;
                }
            }
        }

        .content-description-detail-news {
            .p-internas {
                text-align: justify !important;
            }
        }

    }

    /*HOME*/
    .sct-one-home {
        .owl-carousel {
            .owl-item {
                .item {
                    height: 100%;

                    .text {
                        width: 100%;
                        right: 0;

                        .titles-big {
                            font-size: 2em;
                            text-align: center;
                            margin: 0;
                        }

                        .p-internas {
                            padding: 0 4em;
                            font-size: .9em;
                        }
                    }
                }
            }

            .owl-nav {

                button.owl-prev,
                button.owl-next {
                    .img-arrow-home {
                        width: 40px;
                        opacity: .8;
                    }
                }
            }
        }
    }

    .container-diamond {
        .wrapper {
            -ms-flex-wrap: inherit;
                flex-wrap: inherit;
            padding-bottom: 3em;
        }
    }

    .main-home {
        .sct-carousel {
            height: auto;
        }
    }

    /*CAROUSEL*/
    .content-img-carousel {
        margin-top: 2em;

        .owl-img-carousel {
            .owl-nav {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }

        .owl-img-carousel.owl-theme {

            .owl-next,
            .owl-prev {
                width: auto;
                height: auto;
                background-color: initial;
            }

        }
    }

    .sct-carousel {
        .content-img-carousel {
            .owl-img-carousel {
                .owl-nav {
                    bottom: 0;
                }
            }
        }

        .icon-carousel {
            font-size: 3em;
        }
    }

    .content-img-carousel {
        height: 20em;
    }

    .content-img-carousel #counter {
        display: none !important;
    }

    .info-carousel {
        background-image: none;
        height: auto;
        padding-top: 2em;

        .content-vp {
            background: $color-principal2;
            margin: auto;
            padding: 0.5em;
            color: $color-white;

            .title-orange-clear {
                color: $color-white !important;
            }
        }

        .content-title-carousel {
            margin-bottom: 1em;
        }

    }
     /*NOSOTROS*/
    .content-diamond-us {
        display: none;
    }
    .sct-values {
        height: auto;
        padding-top: 2em;

        >.container {
            >.row {
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
        }

        .content-img-value {

            .img-value {
                width: 70px;
            }
        }

        .title-value {
            padding: 1em 0 .6em;
        }

        .div-values {
            margin-bottom: 2.5em;
        }
    }
    
    /*NOVEDADES*/
    .sct-card-news {
        >.row{
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .wrapper-card {
            height: auto;

            .content-img,
            .description-card {
                //height: auto;

                .p-internas {
                    padding-right: 2em;
                }
                .title-card{
                    padding-top: .5em;
                }
                .p-card{
                    width: 100%;
                }
            }

            .content-date {
                right: 12px;
            }
        }
        .sct-navbar-proyect,
        .sct-navbar-news{
            .nav-proyects{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                .item-proyect {
                    width: 10em;
                    height: 7em;
                }
            }
        }
    }

    /*BANNER REPEAT*/
    
    .work-with-us{
        .form-work-with-us{
            padding: 2em 0;

            .sct-navbar-proyect {
                padding: 0;

                .nav-proyects {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    position: relative;
                    background: transparent;
                    
                    .item-proyect {
                        width: 50%;
                        background-color: $color-principal2;
                        .link-proyect {
                            padding: 1em 0;
                            .icon-nav {
                                display: block;
                            }

                            .title-nav-proyect {
                                text-align: center;
                            }
                        }
                    }
                    .item-proyect:first-child{
                        .link-proyect{
                            border-right: 1px solid $color-white;
                        }
                    }
                }
            }
        }
    }
    .content-title-banner .h1-banner.two {
        margin-left: 0;
    }
    
    .arrow-repeat {
        display: none !important;
    }
    .sct-mv-map{
        margin-top: 2em;
        padding-bottom: 2em;
        .content-info-map {
            padding: 0;
        }
    } 
    
    .l-one{
        padding-top: 0 !important;
    }
    .l-four{
        padding-bottom: 0 !important;
    }
    .content-img-carousel .owl-img-carousel.owl-theme .owl-next:hover, .content-img-carousel .owl-img-carousel.owl-theme .owl-prev:hover {
        background: none;
    }
    #main-us .sct-banner .content-img {
        background-size: auto;
    }
    .sct-card-news .wrapper-card .content-date .date-span {
        font-size: .7em;
    }
    .sct-card-news .wrapper-card .content-date {
        width: 4em;
        height: 4em;
    }
    .sct-navbar-proyect .nav-proyects .item-proyect:after, 
    .sct-navbar-proyect .nav-proyects .item-proyect:before, 
    .sct-navbar-news .nav-proyects .item-proyect:after, 
    .sct-navbar-news .nav-proyects .item-proyect:before {
        display: none;
    }
    .sct-navbar-proyect .nav-proyects .item-proyect.active, 
    .sct-navbar-news .nav-proyects .item-proyect.active {
        background-color: $color-principal1;
    }
}
@media (min-width:320px)and(max-width:767px){
    .wrapper-diamond-us{display: none!important}
    #footer{
        padding: 0;
        .container{
            width: 100% !important;
        }
        .company-f{
            font-size: 2em;
            font-family: $font-titles-big;
            margin-bottom: .5em;
            text-align: center;
        }
        .icon-rs {
            margin: 0 .2em;
        }
        .content-credits{
            background-color:rgba(0, 0, 0, 0.1);
            margin-top: 1em;
            text-align: center !important;
        }
    }
    .sct-banner {
        height: 40vh;

        .container-fluid {
            height: 100%;

            .content-img {
                height: 100%;

                .img-banner {
                    height: 100%;
                    -o-object-fit: cover;
                       object-fit: cover;
                }

            }
        }
    }
    .content-title-banner .h1-banner {
        font-size: 2em;
    }
    .sct-card-news {
        .wrapper-card {

            .content-img,
            .description-card{
                height: auto;
            }
        }
    }
    .sct-description-us {
        padding: 2em 0 0;
    }
    .sct-policies {
        .modal-content {
            .modal {
                .modal-info {
                    height: auto;
                } 
                .modal-header {
                    position: absolute;
                    right: -50px;
                    top: -79px;
                } 
            }
        } 
    }
    .wrapper-search {
        display: none !important;
    }

}
@media (min-width:768px) and (max-width:1024px) {
    .sct-navbar-news .nav-proyects, .sct-navbar-proyect .nav-proyects {
        padding-bottom: 3em;
    }
    .sct-banner .container-fluid .content-img {
        background-size: auto !important;
    }
    .info-carousel {
        height: auto;
    }
    .content-img-carousel {
        height: auto;
    }
    .sct-banner .container-fluid .content-img .img-banner {
        height: 100%;
        object-fit: cover;
    }
    
    #report-segment {
        height: calc(100vh - 64px);
        position: npm run production;
    }
}