.sct-card-news {
    background-color: $color-white;
    padding-bottom: 2em;

    .container-fluid {
        padding: 0;

        >.row {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .info-nav-news {
        background-color: $color-white;

    }

    .content-title {
        padding: 1.5em 0;

        .icon-title-news {
            font-size: 3em;
            padding-right: .3em;
        }
    }

    .wrapper-card {
        height: 13em;
        -webkit-box-shadow: 0 0 27px rgba(167, 163, 163, 0.3);
                box-shadow: 0 0 27px rgba(167, 163, 163, 0.3);
        background-color: $color-white;
        margin-bottom: 2.2em;
        position: relative;
        overflow: hidden;

        >.row {
            height: 100%;
        }

        .content-img {
            height: 100%;
            background-color: $color-principal2;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
            overflow: hidden;

            .img-card {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
                   transition: ease .5s; 
                -webkit-transition: ease .5s;
                -o-transition: ease .5s;
            }
        }

        .description-card {
            position: relative;
            height: 100%;
            padding-left: 2.5em;

            >.row {
                height: 100%;
            }

            .title-card {
                color: $color-principal2;
                font-family: $font-titles-internas;
                margin-bottom: 1.1em;
                width: inherit;
                position: relative;

                &:after {
                    position: absolute;
                    bottom: 7px;
                    left: 0;
                    right: 0;
                    width: 30%;
                    height: 1px;
                    //margin: auto;
                    background-color: $color-principal2;
                    content: "";
                    opacity: 0;
                    -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
                    transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
                    -o-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
                    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
                    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
                    -webkit-transform: translateY(20px);
                        -ms-transform: translateY(20px);
                            transform: translateY(20px);
                }
            }

            .icon-arrow {
                color: $color-icons;
            }

            .p-internas {
                padding-left: .6em;
            }

            .p-card {
                width: 81%;
            }
        }

        .content-date {
            width: 5em;
            height: 5em;
            background-color: $color-principal1;
            position: absolute;
            right: 50px;
            top: 0;
            color: $color-white;
            font-family: $font-titles-internas;
            z-index: 2;

            .date-span {
                font-size: 1em;
            }
        }

        &:hover .img-card {
            opacity: .6;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
        }

        &:hover .title-card:after {
            opacity: 1;
            -webkit-transform: translateY(15px);
                -ms-transform: translateY(15px);
                    transform: translateY(15px)
        }
        .hover-news {
            position: absolute;
            top: 0;
            z-index: 1;
            left: 0;
            right: 0;
            bottom: 0;
            background: #143a7d54;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            opacity: 0;
            transition: ease .5s; 
                -webkit-transition: ease .5s;
                -o-transition: ease .5s;
            img{
                width: 6em;
                opacity: .7;
            }
        }
        &:hover {
            .hover-news {
                opacity: 1;
                transition: ease .5s; 
                -webkit-transition: ease .5s;
                -o-transition: ease .5s;
            }
            .img-card {
                -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: ease .5;
                -o-transition: ease .5;
                transition: ease .5;
                -webkit-transition: ease .5s;
                -o-transition: ease .5s;

            }
        } 
    }
    .sct-navbar-proyect{
        z-index: 0;
    }
}

/*DETALLE DE NOVEDADES*/
.main-detail-news {
    padding: 10em 0 3em;

    .sct_detail_news {
        .content-img-detail {
            height: 21em;
        }

        .owl-carousel {
            height: 100%;
            .owl-nav{
                position: absolute;
                top: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                margin: auto;
                bottom: 0;
                left: 0;
                right: 0;
                .owl-next,
                .owl-prev{
                    outline: none;
                    img{
                        width: 50px;
                    }
                }
            }
        }

        .titles-big {
            color: $color-principal1;
        }

        .icon-icono-regresar {
            padding: .5em 0 1.5em;
            font-size: 1.5em;
            color: $color-principal2;
        }

        .description-news-general {
            padding-left: 3em;

            .content-title-detail-news {
                border-bottom: 1px solid rgba(180, 179, 179, 0.801);
                margin-bottom: 1em;

                .p-date-detail {
                    font-size: .8em;
                    color: $color-internas;
                    font-family: $font-internas;
                    opacity: .7;
                }

                .content-icon-detail {
                    padding: .5em 0;

                    .icon-detail {
                        color: $color-principal2;
                        -webkit-transition: all .3s;
                        -o-transition: all .3s;
                        transition: all .3s;
                        font-size: 1.4em;

                        &:hover {
                            color: $color-principal1;
                        }
                    }
                }
            }
        }

        .content-dscg-pdf {
            padding: 1em 0;
        }

    }
}

.title-gallery {
    background-color: $color-principal1;
    margin-right: .5em;

    .a-title {
        font-family: $font-titles-internas;
        color: $color-white;
        width: 100%;
        height: 100%;
        float: left;
    }
}

.content-titles-gallery {
    padding: 2em 0 3em;
    .list-nav-gallery{
        list-style: none;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        .item-nav-gallery{
            width: 110px;
            .titles-big{
                color: $color-internas;
                font-size: 1em;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }
            &:hover .titles-big,
            &.active .titles-big{
                color: $color-principal1 !important;
                font-size: 1.3em;
            }
        }
    }
}

.card-img-gallery {
    width: 23%;
    height: 21em;
    -webkit-box-shadow: 0 0 27px rgba(167, 163, 163, 0.3);
            box-shadow: 0 0 27px rgba(167, 163, 163, 0.3);
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    
    &:hover{
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
    }
    

    .imghvr-slide-up{
        height: 60%;
        cursor: pointer;
        .figcaption-img {
            -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%);
        }
    }
    .info-card-img-gallery{
        border-top: 9px solid $color-principal1;
        padding: .7em .7em 0;
        .p-internas{
            font-size: 0.8em;
            margin-bottom: 0;
        }
        .icon-arrow{
            margin-right: 0.3em;
            font-size: 0.8em;
            padding-top: .25em;
        }
        .title-blue{
            font-size: 1em;
            margin-bottom: .5em;
        }
    }
    
    [class^='imghvr-']>img,
    [class*=' imghvr-']>img {
        vertical-align: top;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }

    [class^='imghvr-'],
    [class*=' imghvr-']{
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        .figcaption-img{
            background-color: #f3920094;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .cont-icon-vm{
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                .icon-search{
                    color: $color-white;
                    opacity: .7;
                    font-size: 2em;
                    -webkit-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                            transform: rotate(90deg);
                }
            }
            
        }
    } 

    [class^='imghvr-'],
    [class*=' imghvr-'],
    [class^='imghvr-'] *,
    [class*=' imghvr-'] * {
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
    }

    [class^='imghvr-slide-']:hover figcaption,
    [class*=' imghvr-slide-']:hover figcaption {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    } 
   
}
/*videos*/
.content-video{
    width: 23%;
    .card-video{
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: $color-principal1;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;

        .card-img-top{
            width: 20%;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            -webkit-transition: all .35s ease;
            -o-transition: all .35s ease;
            transition: all .35s ease;
            &:hover{
                -webkit-transform: scale(1.08);
                    -ms-transform: scale(1.08);
                        transform: scale(1.08)
            }
        }
        .inner-div{
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
            padding-bottom: 66%;
            background-repeat: no-repeat;
            -webkit-transition: all .35s ease;
            -o-transition: all .35s ease;
            transition: all .35s ease;
        }
        &:hover .inner-div{
            -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
                    transform: scale(1.05);
            opacity: .5;
        }
    }
    .card-body{
        background-color: #F6F8FA;
        padding: .5em;
        height: 3em;
        border-top: 6px solid $color-principal1;
        .card-text{
            font-size: .8em;
            font-family: $font-internas;
            color: $color-principal3;
        }
    }
}
/*modal*/
.modal-content,
.modal-content-2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    .modal,
    .modal-2 {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 60%;
        -webkit-animation: modalSlideDown 0.4s ease-out;
                animation: modalSlideDown 0.4s ease-out;
        .modal-header,
        .modal-info {
            position: relative;
            
        }
        .modal-header{
            padding: 2.5em 0;
            span {
                position: absolute;
                right: 0;
                top: 0;
                color: rgb(110, 110, 109);
                font-weight: bold;
                font-size: 3.5em;
                cursor: pointer;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                z-index: 10;
                &:hover{
                    color: $color-internas;
                }
            }
        } 
        .modal-info{
            height: 55vh;
            .owl-carousel{
                height: 100%;
                .owl-nav{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    .owl-prev,
                    .owl-next{
                        outline: none;
                        img{
                            width: 60px;
                        }
                    }
                }
                .owl-item {
                    -webkit-backface-visibility: hidden;
                    -webkit-transform: translateZ(0) scale(1.0, 1.0);
                            transform: translateZ(0) scale(1.0, 1.0);
                }
                .item{
                    opacity:0.2;
                    -webkit-transition:.4s ease all;
                    -o-transition:.4s ease all;
                    transition:.4s ease all;
                    margin:0 20px;
                    -webkit-transform:scale(.8);
                        -ms-transform:scale(.8);
                            transform:scale(.8);
                  }
                  @media(max-width:1000px){
                    .item{margin:0; -webkit-transform:scale(.9); -ms-transform:scale(.9); transform:scale(.9)}
                  }
                  .active .item{
                    opacity:1;
                    -webkit-transform:scale(1);
                        -ms-transform:scale(1);
                            transform:scale(1);
                  } 
                
            }
        }
    }
    @-webkit-keyframes modalSlideDown {
        from { -webkit-transform: translateY(-200px); transform: translateY(-200px); opacity: 0; }
        to { translate: translateY(0); opacity: 1; }
    }
    @keyframes modalSlideDown {
        from { -webkit-transform: translateY(-200px); transform: translateY(-200px); opacity: 0; }
        to { translate: translateY(0); opacity: 1; }
    }
}
.card-img-gallery,
    .content-video{
        margin-right: 1.5em;
        margin-bottom: 3em;
        @media (max-width:575px) {
            width:90%;
            margin-right: 0;
        }
        @media (min-width:1200px)and(max-width:1465px) {
            width: 30%;
        }
        @media (min-width:576px)and(max-width:1199px) {
            width: 43%;
        }
    }
.main-detail-news.main-rse .sct_detail_news{
    .description-news-general {
        padding-left: 0;
    }
    .titles-big {
        padding-bottom: 1em;
        padding-left: 0;
    }
} 
#main-news {
    .sct-card-news {
        .sct-navbar-news {
            z-index: 0;
        }
    }
}