/*CARD PROYECTOS*/
.sct-card-proyects {
    padding-top: 1.5em;
    background-color: $color-white;

    .wrapper-title-pyts {
        padding-top: 3em;
        padding-bottom: 3em;

        .content-title {
            .icon-title-card {
                color: $color-icons;
                font-size: 4.3em;
                padding-right: .3em;
            }
        }
    }
}
/*DETALLE DE CARD*/
.detail-proyects {
    padding-top: 8em;

    .info-carousel {
        padding-top: 4em;
        background-image: none;

        .title-link-detail {

            .icon-arrow-link,
            .icon-vial-det {
                color: $color-icons;
            }

            .icon-arrow-link {
                font-size: .9em;
                padding: .7em 0 .7em 1em;
                
                .a-volver{
                    font-family: $font-internas;
                    padding-left: .3em;

                }
            }

            .icon-detail {
                padding: 0 .4em;
                font-size: 2.1em;
                color: $color-icons;
            }

            .title-orange-clear {
                font-size: 1.4em;
                letter-spacing: 1.3px;
                font-family: $font-titles-internas;
            }
        }
    }

    .owl-content-info {
        .description-info-carousel {
            .title {
                padding: 1.4em 0 1em;
                font-size: 2em;
            }

            .icon-arrow {
                padding-top: 0;
                padding-right: .6em;
                font-size: 1.2em;
            }

            .p-internas {
                padding-top: 0 !important;
            }

            .info-general-proyc {
                padding-left: 1.5em;
                padding-bottom: 1em;

                .t-proy {
                    font-family: $font-titles-internas;
                    color: $color-principal1;
                    font-size: 1em;
                }
            }
        }
    }

    .date-detail-proyects {
        font-family: $font-titles-internas;
        text-align: right;
        padding-top: 3em;
    }

    .sct-carousel {
        height: auto;

        .content-img-carousel {

            .carousel-img-repeat {
                height: 79vh;
            }
        }
    }
}
.state-of-work {
    position: absolute;
    top: 50px;
    left: -79px;
    width: 17em;
    height: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: $color-principal2;
    -webkit-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
        transform: rotate(-42deg);

    .title-state {
        color: $color-white;
        font-family: $font-titles-internas;
        font-size: .8em;
    }
}
.owl-carousel.owl-drag .owl-item{
    overflow: hidden;
}