#main-us{
    overflow: hidden;
}
.sct-description-us {
    height: auto;
    background-color: white;
    padding: 3em 0 5em;
    >.container{
        height: 100%;
        >.row{
            height: 100%;
        }
    }

    .content-title-description {
        .titles-big {
            padding-top: .2em;
        }

        .icon-constructora {
            font-size: 5.5em;
        }
    }

    .content-p-description {
        .p-internas {
            text-align: justify;

            &:first-child {
                padding-top: 1.2em;
            }
        }
    }

    .content-img-certification {
        margin-top: 3em;
        .title-orange-clear {
            font-size: 1.2em;
            font-family: $font-titles-big;
            text-align: right;
            padding: 0 0 .8em;
            letter-spacing: 1px;

            .icon-diamonds {
                padding-right: .3em;
            }
        }

        img {
            width: 35px;
            margin: 0 .3em;
        }

        // img:last-child {
        //     width: 58px;
        // }
    }
}

.wrapper-diamond-us {
    position: relative;
    .content-diamond-us {
        -webkit-filter: drop-shadow(2px 7px 5px $color-internas);
                filter: drop-shadow(2px 7px 5px $color-internas);
        position: absolute;
        -webkit-transition: ease-in .5s;
        -o-transition: ease-in .5s;
        transition: ease-in .5s;

        &:first-child {
            right: 1em;
            .diamond-us {
                background-image: url('../../assets/images/diamond/diamond-us/diamond-1-us.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        &:nth-child(2) {
            bottom: 1em;

            .diamond-us {
                background-image: url('../../assets/images/diamond/diamond-us/diamond-2-us.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

            }

        }

        &:nth-child(3) {
            top: 1em;

            .diamond-us {
                background-image: url('../../assets/images/diamond/diamond-us/diamond-3-us.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

            }

        }

        &:last-child {
            left: 1em;

            .diamond-us {
                background-color: $color-principal2;
                color: $color-white;
                font-family: $font-titles-big;
                -webkit-transition: ease-in .5s;
                -o-transition: ease-in .5s;
                transition: ease-in .5s;
            }
        }

        .diamond-us {
            width: 21em;
            height: 21em;
            -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            .year-diamond {
                font-size: 6em;
            }

            .p-year-diamond {
                font-size: 1.3em;
                letter-spacing: 1px;
            }
        }

    }
    &:hover{
        .content-diamond-us:first-child {
            right: 5.5%;
            //transition: ease-in .5s;
        }
        .content-diamond-us:nth-child(2) {
            bottom: 0;
            //transition: ease-in .5s;
        }
        .content-diamond-us:nth-child(3) {
           top : 0;
           //transition: ease-in .5s;
        }
        .content-diamond-us:last-child {
            left: 5.5%;
            .diamond-us{
                background-color: $color-principal1;
            }
        }
    }
}
.sct-mv-map{
    background-color: white;

    .content-info-mv{
        padding-top: 6em;
        padding-bottom: 2em;
        background-image: url('../../assets/images/icons/fondo-icono-azul.png');
        background-repeat: no-repeat;
        background-size: cover;
        .icon-mision,
        .icon-vision{
            font-size: 3.5em;
            color:$color-icons;
        }
        .title-mv{
            font-size: 2em;
            color: $color-white;
            font-family: $font-titles-big;
        }
        
        .content-pdescription-mv{
            padding-top: 2em;
            padding-bottom: 2em;
            .p-internas{
                color: $color-white;
                padding-left: 1em;
                text-align: justify;
            }
            .icon-arrow{
                color: $color-icons;
                font-size: 1.4em;
            }
        }
    }
    .content-info-map{
        padding-left: 7em;
        padding-bottom: 3em;
        .content-title-map{
            padding: 2em 0;
            .icon-ubicacion{
                color: $color-icons;
                font-size: 4.3em;
            }
        }
    }
    .departaments-mobile{
        text-align: center;
        padding-right: 0;
        >.row{
            padding: 0 .7em;
            margin: auto;
        }
        .p-internas{
            margin-bottom: 0;
        }
        .div-dep{
            width: 85%;
            height: 70px;
            margin-bottom: 1.2em;
            //box-shadow: 0 0 5px;
            //padding: 1em 0;
            background-color: $color-principal2;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            
            .departament{
                font-size: 1.1em;
                font-family: $font-titles-internas;
                color: $color-principal1;
                text-transform: uppercase;
            }
            .p-internas{
                color: $color-white;
            }

            
        }
    }
    .content-map-desktop{
        position: relative;
        .img-map{
            width: 65%;
        }
    }
}

.sct-values{
    width: 100%;
    background-image: url('../../assets/images/valoresbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 2em 0;
    .icon-valores{
        font-size: 3.8em;
    }
    .titles-big{
        margin: .3em 0 1.25em;
    }
    .titles-big,
    .icon-valores{
        color: $color-principal1;
    }
    .content-img-value{
        height: 8.5em;
        .img-value{
            width: 120px;
            -o-object-fit: cover;
               object-fit: cover
        }
    }
    .title-value{
        color: $color-white;
        font-family: $font-titles-internas;
        font-size: 1.3em;
        padding: 1em 0 1.3em;
    }
    .p-internas{
        color: $color-white;
        font-size: .855em;
        line-height: 1.4;
        margin: 0;
    }
}
.sct-policies{
    background-color: white;

    .content-title-policies{
        padding: 3em 0;
        .icon-politicas{
            font-size: 5em;
            color: $color-icons;
        }
    }
    .description-policies{
        padding-bottom: 3.5em;
        .titles-big:first-child{
            font-size: 1.3em;
            color: $color-principal2;
            padding-bottom: .6em;
        }
        .icon-arrow{
            color: $color-icons;
        }
        .p-internas{
            padding-left: .8em;
            text-align: justify;
            line-height: 1.25;
            margin-bottom: .5rem;
        }
        
        
    }
    
}

#tabsContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    .tabs-nav{

        .list-departament{
            list-style: none; 

            .item-departament{
                position: absolute;
                z-index: 1;

                .icon-diamonds,
                .link-departament{
                    color: $color-icons;
                    font-size: .5em;
                    font-family: $font-internas;
                }
                .icon-diamonds{
                    font-size: .7em;
                }
                .line-map{
                    width: 10em;
                    position: absolute;
                    z-index: 0;
                    display: none;

                    .pathmin {
                        stroke-dasharray: 2;
                        stroke-dashoffset: 0;
                        -webkit-animation: dash 10s linear infinite;
                        animation: lines 10s linear infinite;
                    }

                    @-webkit-keyframes lines {
                        0% {
                            stroke-dashoffset: 200;
                        }
                        100% {
                            stroke-dashoffset: 0;
                        }
                    }

                    @keyframes lines {
                        0% {
                            stroke-dashoffset: 200;
                        }
                        100% {
                            stroke-dashoffset: 0;
                        }
                    }        
                }
                /*PIURA*/
                &:nth-child(2){
                    top: 31%;
                    left: 4%;
                }
                /*Lambayeque*/
                &:nth-child(3){
                    top: 37%;
                    left: 4.5%;
                }
                /*CAJAMARCA*/
                &:nth-child(4){
                    top: 39%;
                    left: 10.5%;
                }
                /*La Libertad*/
                &:nth-child(5){
                    top: 45.5%;
                    left: 10.5%;
                }
                /*SAN MARTIN*/
                &:nth-child(6){
                    top: 38%;
                    left: 17.5%;
                }
                /*Huánuco*/
                &:nth-child(7){    
                    top: 50%;
                    left: 22%;
                }
                /*UCAYALI*/
                &:nth-child(8){
                    top: 49%;
                    left: 32%;
                }
                /*PASCO*/
                &:nth-child(9){
                    top: 54%;
                    left: 26%;
                }
                /*LIMA*/
                &:nth-child(10){
                    top: 63%;
                    left: 22%;
                    .line-map{
                        width: 15.5em;
                        bottom: -784%;
                        left: 163%;
                        -webkit-transform: rotate(10deg);
                        -ms-transform: rotate(10deg);
                            transform: rotate(10deg);
                        @media (min-width:1200px)and (max-width:1366px) {
                            //bottom: -1264%;
                        }
                    }
                }
                /*jUNIN*/
                &:nth-child(11){
                    top: 59%;
                    left: 28%;
                }
                /*Huancavelica*/
                &:nth-child(12){
                    top: 66%;
                    left: 27%;
                }
                /*ICA*/
                &:nth-child(13){
                    top: 74%;
                    left: 28%;
                }
                    /*Ayacucho*/
                &:nth-child(14){
                    top: 73%;
                    left: 32%;
                }
                /*APURIMAC*/
                &:nth-child(15){
                    top: 70.5%;
                    left: 37%;
                }
                /*CUSCO*/
                &:nth-child(16){
                    top: 65%;
                    left: 39%;
                }
                /*MADRE DE DIOS*/
                &:nth-child(17){
                    top: 59%;
                    left: 43%;
                }
                /*PUNO*/
                &:nth-child(18){
                    top: 74%;
                    left: 49%;
                }
                /*AREQUIPA*/
                &:nth-child(19){
                    top: 80%;
                    left: 40%;
                }
                /*moquegua*/
                &:nth-child(20){
                    top: 84%;
                    left: 46%;
                }
            }
            .item-departament.active{
                .line-map{
                    display: block;
                }
                .rombo-img{
                    //display: block !important;
                    width: 20px;
                    z-index: 1;
                    position: absolute;
                    top: -90%;
                    @media (min-width:1200px)and (max-width:1366px) {
                        width: 16px;
                        top: -108%;
                    }
                }
            }            
        }   
    }
    .tabs-content{
        position: absolute;
        right: 5%;
        width: 35%;
        top: 5%;
        z-index: 1;
        .info-tab{
            width: 73%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .content-img-departament{
            width: 80%;
            margin: auto;
            @media (min-width:1200px)and (max-width:1366px) {
                width: 90%;
            }
            .img-departament{
                width: 100%;
            }
        }
        .title-orange-clear{
            font-family: $font-titles-internas;
            text-align: center;
            
            @media (min-width:1200px)and (max-width:1366px) {
                font-size: 1.4em;
            }
        }
        span.title-orange-clear{
            font-size: .8em;
            margin-bottom: .3em;
        }
        .span-direction{
            font-family: $font-internas;
            color: $color-principal1;
            font-size: .7em;
            text-align: center;
        }
    }
    .tabs-content div:not(:first-child) {
        display: none;
    }
}
.fadeMap {
    -webkit-animation-name : fadeMap  ;
    animation-name : fadeMap  ;
    -webkit-animation-duration : 1500 ms  ;
    animation-duration : 1500 ms  ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  
  }  
  @-webkit-keyframes  fadeMap  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }  
  }
  @-webkit-keyframes  fadeOut  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }  
  }
  @keyframes  fadeOut  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }  
  }
.sct-policies {
    .modal-content,
    .modal-content-2 {
        .modal,
        .modal-2 {
            .modal-info {
                height: 97vh;
                .owl-carousel {
                    .owl-nav {
                        @media (max-width:767px) {
                            left: -58px;
                            right: -58px;    
                        }
                        @media (min-width:768px) and (max-width:991px){
                            left: -75px;
                            right: -75px;
                        }
                        
                    }
                }
            } 
            .modal-header {
                position: absolute;
                right: 0;
            } 
        }
    } 
    .owl-carousel .owl-item img {
        //object-position: ;
        -o-object-fit: scale-down;
           object-fit: scale-down;
    }
} 