.work-with-us {
    .form-work-with-us {
        padding: 4em 0;
        background-color: $color-white;

        .sct-navbar-proyect {
            position: relative;
            height: -webkit-max-content;
            height: -moz-max-content;
            height: max-content;
        }

    }

    .arrow-repeat {
        top: -5%;

        .img-arrow-banner {
            left: -9%;
        }
    }
}
.swits-content{
    >.row{
        width: 100%;
    }
}
.switch {
    position: relative;
    height: 1.3em;
    width: 4em;
    background: #8b8b8b;
    cursor: pointer;
    -webkit-transition: all, 0.2s, ease-out;
    -o-transition: all, 0.2s, ease-out;
    transition: all, 0.2s, ease-out;
    text-indent: 54%;
    padding: .1em 0;
    margin: 0 1.5em
}

.switch .span {
    font-family: $font-titles-internas;
    -webkit-transition: all, 0.4s, ease-out;
    -o-transition: all, 0.4s, ease-out;
    transition: all, 0.4s, ease-out;
    font-size: .7em;
    z-index: -1;
    color: #666;
    padding: .2em 0;
}

.switch:before {
    -webkit-transition: all, 0.4s, ease-out;
    -o-transition: all, 0.4s, ease-out;
    transition: all, 0.4s, ease-out;
    position: absolute;
    content: "SI";
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    cursor: pointer;
    background: #eee;
    font-family: $font-titles-internas;
    font-size: .7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #666;
    ;
}

.switch.active {
    background: $color-principal1;
}

.switch.active .span {
    text-indent: 5%;
    color: $color-white;
}

.switch.active:before {
    left: 36px;
    -webkit-box-shadow: -2.5px 0px 5px #6f6f6f;
    box-shadow: -2.5px 0px 5px #6f6f6f;
    content: " ";
}
.switch.active ~ .datos-reg {
    display: none !important;
}