#footer{
    font-family: arial;
    color: $color-white;
    background-color: $color-principal2;
    padding: .7em 0;
    .link-data{
        color: $color-white;
        font-size: .5em;
        letter-spacing: 1px;
    }
    .icon-rs{
        color: $color-white;
        font-size: 1.95em;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &:hover{
            color: $color-principal1;
        }
    }
}
#footer.section{
    height: auto!important;
    .fp-tableCell{
        height: auto !important;
    }
}