header {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    border-top: 3px solid rgba(243,145,0,.8);
    -webkit-animation: moveToBottom .6s ease both;
    animation: moveToBottom 1.5s ease both .3s;
    @media (max-width:1024px) {
        animation: none;
        -webkit-animation:none;
    }
    #button-menu{
        display: none;
    }
    .content-img-logo {
        width: 45%;
        padding-top: .5em;

        .img-logo {
            width: 6em;
        }
    }

    .content-menus-general {
        width: 55%;
        .content-menus {
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;

            .content-navTop {
                .navTop {
                    list-style: none;

                    .navTop-item {
                        .navTop-link {
                            color: $color-white;
                            font-family: $font-internas;
                            font-size: .6em;
                            background-color: rgba(243,145,0,.8);
                            padding: 1.15em 1.5em;
                            height: 100%;
                            width: 100%;
                            float: left;
                            -webkit-transition: ease-in .3s;
                            -o-transition: ease-in .3s;
                            transition: ease-in .3s;
                            &:hover{
                                background-color: rgba(255,255,255,.6);
                                color: $color-principal1;
                            }
                        }
                        &.active .navTop-link {
                            background-color: $color-white;
                            color: $color-principal1;
                            font-weight: bold;
                        }
                    }
                }
            }

            .content-navbar {
                width: 100%;
                padding-top: 1em;
                overflow: hidden;

                .navbar-principal {
                    list-style: none;
                    border-bottom: 1px solid $color-white;
                    height: 3.3em;

                    .item-navbar {
                        line-height: 5.5;

                        .link-navbar {
                            color: $color-principal2;
                            font-family: $font-titles-internas;
                            font-size: .9em;
                            outline: none;
                            cursor: pointer;
                            width: 100%;
                            float: left;
                            height: 100%;
                            -webkit-transition: ease-in .3s;
                            -o-transition: ease-in .3s;
                            transition: ease-in .3s;
                        }

                        .submenu {
                            position: absolute;
                            list-style: none;
                            background-color: transparent;
                            border-radius: 3px;
                            padding: 1.5em 0.2em;
                            display: none;
                            margin-top: 3.5em;
                            -webkit-animation: moveToBottomMenu .8s ease both;
                                    animation: moveToBottomMenu .8s ease both;

                            &:after {
                                content: '';
                                position: absolute;
                                bottom: 89%;
                                left: 10%;
                                width: 0;
                                height: 0;
                                border-bottom: 10px solid rgba(255,255,255,.7);
                                border-right: 10px solid transparent;
                                border-left: 10px solid transparent;
                                @media (min-width:1200px) and (max-width:1400px) {
                                    bottom:88%
                                }
                            }

                            .item-submenu {
                                line-height: 1.5;
                                
                                .link-submenu {
                                    width: 100%;
                                    float: left;
                                    position: relative;
                                    font-family: $font-internas;
                                    font-weight: bold;
                                    font-size: .75em;
                                    color: $color-principal3;
                                    padding: .8em 1.3em;
                                    background-color: rgba(255,255,255,.85);
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                        width: 90%;
                                        opacity: .65;
                                        border-bottom: 1px solid $color-principal3
                                    }
                                    &.l-four:before {
                                        border-bottom: 1px solid transparent
                                    }
                                    

                                    .icon-diamonds {
                                        font-size: .8em;
                                        padding-right: .3em;
                                    }

                                    &:hover,
                                    &.active {
                                        color: $color-principal1;
                                    }
                                    
                                }

                            }
                            .l-one{
                                padding-top: 1.5em !important;
                            }
                            .l-four{
                                padding-bottom: 1.5em !important;
                            }
                        }
                    }
                    .item-navbar.rse .submenu{
                        &:after{
                            bottom: 84%;
                        }
                        .item-submenu:last-child{
                            .link-submenu{
                                padding-bottom: 1em;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

.item-navbar:hover .link-navbar,
.item-navbar.active .link-navbar  {
    color: $color-principal1 !important;
   
}

.item-navbar:hover .submenu {
    display: block !important;
    //transition: all 1s;
}
.link-submenu:first-child {
    padding-top: 2em;
}

.link-submenu:last-child {
    padding-bottom: 2em;
}
@-webkit-keyframes moveToBottom {
	from { -webkit-transform: translateY(-100%);}
	to { -webkit-transform: translateY(0%); }
}
@keyframes moveToBottom {
	from {  -webkit-transform: translateY(-100%); transform: translateY(-100%);}
	to { -webkit-transform: translateY(0%); transform: translateY(0%); }
}
@-webkit-keyframes moveToBottomMenu {
	from { -webkit-transform: translateY(-8%);}
	to { -webkit-transform: translateY(0%); }
}
@keyframes moveToBottomMenu {
	from {  -webkit-transform: translateY(-8%); transform: translateY(-8%);}
	to { -webkit-transform: translateY(0%); transform: translateY(0%); }
}
header .content-menus-general .content-menus .content-navTop .navTop {
    float: left;
    margin-right: 1em;
}