*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@import 'utils/utils';
@import 'vendor/vendor';
@import 'layout/layout';
@import 'components/components';
@import 'pages/pages';
